* {
  margin: 0;
  padding: 0;
}

 li {
   list-style: none;
 }

 a {
   text-decoration: none;
   font-weight: 700;
   color: blue;
   font-size: large;
 }

 a:hover {
   color: red;
 }

.navbar {
  display: flex;
  width: 1520px;
  padding: 40px 40px;
  background-color: #F8EDF0 ;
  margin: auto;
  border-radius: 5px;
}

.Polar_logo {
  width: 79px;
  margin: auto;
}

.nav_links {
  display: flex;
  gap: 25px;
  margin: auto;
  padding: 10px 10px;
  font-family: sans-serif;
  margin-top: 15px;
  justify-content: center;
  align-items: center;
}

#active {
  color:#D23166;
  font-weight: 600;
}

.btn {
  width: 165px;
  height: 50px;
  background-color: #D23166;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
}

.hero {
  display: flex;
  align-items: center;
  width: 1500px;
  padding: 50px 50px;
  margin: auto;
  background-color: #F8EDF0;
}

.small_text {
  font-size: 17px;
  color: #333;
  font-weight: bold;
  font-family: sans-serif;
  margin: 0px 100px;
}

.hero_title {
  font-size: 49px;
  margin: 20px 100px;
  line-height: 1.2;
  color: #111;
  font-family: 'Fredoka';
  width: 580px;
}

.hero_text h1 span {
  color: #ff3a8c;
}

.hero_text .description {
  margin: 28px 90px;
  color: #555;
  line-height: 1.5;
  font-family: sans-serif;
  font-size: 20px;
}

.btn1 {
  background-color: #f81c77;
  color: white;
  padding: 20px 55px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
  margin: 20px 90px;
}

.ice_cream_img {
  width: 1000px;
}

.services {
  display: flex;
  justify-content: space-evenly;
  width: 1500px;
  background-color: #ffffff;
  margin: auto;
  gap: 20px;
  font-family: sans-serif;
  padding: 50px;
}

 .service {
  text-align: center;
  background-color: #fff;
}

.service img {
  width: 60px;
  margin-bottom: 15px;
}

.service h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #000;
} 

.service p {
  font-size: 14px;
  color: #666;
}
 
.feature {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1580px;
  height: 490px;
  margin: auto;
  background-color: #F8EDF0;
}

.feature_main {
  margin-left: 70px;
}

.feature_text {
  font-family: sans-serif;
  margin-left: 50px;
  padding: 10px;
}

.feature_title {
  font-size: 40px;
  padding: 17px;
  font-family: sans-serif;
}

.btn2 {
  width: 165px;
  height: 49px;
  color: white;
  background: #D64374;
  border-radius: 5px;
  font-size: 15px;
  margin: 20px 0px;
}

.feature_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px;
}

.box_title {
  padding: 90px 10px 30px;
  width: 300px;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 44px;
  margin: auto;
}

.tasks {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 50px;
  font-size: 19px;
  width: 1500px;
  margin: auto;
  font-family: 'roboto';
}

#main_task {
    color: #000;
    text-decoration: underline;
    font-family: 'roboto';
}

.task {
  text-decoration: none;
  font-family: 'roboto';
  font-size: 19px;
  color: #666;
  font-weight: 500;
}

.products {
  display: flex;
  align-items: center;
  font-family: sans-serif;
  border: 1px solid;
  width: 1600px;
  margin: auto;
  flex-wrap: wrap;
}

.product {
  margin-right: 50px;
}

#product {
  margin-left: 50px;
}

.ice_cream_img {
  width: 800px;
  height: 600px;
  margin: auto;
}

.product_title {
  font-family: 'Hind Madurai';
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
}

.product_text {
  padding: 15px 0px;
  font-size: 20px;
  color: #555;
  font-family: 'roboto';
  font-weight: 400;
}

.new_price {
font-family: 'Hind Madurai';
font-weight: 500;
font-size: 30px;
line-height: 30px;
color: #000000;
}

.old_price {
font-family: 'Hind Madurai';
font-weight: 500;
font-size: 20px;
line-height: 28px;
text-decoration-line: line-through;
color: #000000c7;
}

.btn3 {
width: 165px;
height: 49px;
color: white;
background: #D64374;
border-radius: 5px;
font-size: 15px;
margin-top: 12px;
font-family: 'roboto';
}

.limon__img {
  width: 800px;
  height: 600px;
  margin: auto;
}

.Sweetcorn_img {
  width: 800px;
  height: 600px;
  margin: auto;
}

.description {
   display: flex;
   justify-content: center;
   align-items: center; 
}

.description_left {
  margin: 100px 80px;
}

.icon_img {
  margin-left: 100px;
}
.icon_texts {
  margin: 0px 100px;
}

.char {
  width: 20px;
  margin-top: 60px;
  margin-left: 80px;
}
.icon_text {
  margin: 20px 100px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.char1 {
  width: 20px;
  margin-left: 380px;
}

.icons {
  margin: 20px 130px;
}

.adele__img {
  width: 800px;
  height: 600px;
}

.orders {
  width: 1600px;
  height: 678px;
  background-color: #F8EDF0;
  margin: auto;
  display: flex;
}

.screen {
  margin: 50px 100px;
  width: 300px;
  height: 620px;
}

.order_title {
font-family: 'Roboto';
font-weight: 500;
font-size: 44px;
line-height: 52px;
color: #000000;
margin-top: 50px;
}

.order_text {
font-family: 'Roboto';
font-weight: 400;
font-size: 20px;
color: #0f0101b5;
margin-top: 30px;
}

.select_img {
  width: 30px;
  height: 35px;
  background-color: white;
  margin-top: 30px;
}

.select_text {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 25px;
  line-height: 26px;
  color: #000000;
  margin-left: 10px;
}

.add_to_card_img {
width: 30px;
height: 35px;
background-color: white;
margin-top: 30px;
}

.add_to_card_text {
font-family: 'Roboto';
font-weight: 400;
font-size: 25px;
line-height: 26px;
color: #000000;
margin-left: 10px;
}

.order_img {
width: 30px;
height: 35px;
background-color: white;
margin-top: 30px;
}

.order_text {
font-family: 'Roboto';
font-weight: 400;
font-size: 25px;
line-height: 26px;
color: #000000;
margin-left: 10px;
}

.google_play_img {
  margin-top: 40px;
}

.app_store_img {
  margin-top: 40px;
}

.services1 {
  width: 1600px;
  height: 500px;
  margin: auto;
  background-color: #fff;
  /* background-color: #000; */
}

.service1_title {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 44px;
  line-height: 50px;
  text-align: center;  
  color: #000;
  margin: 150px;/
}

.inputs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 820px;
    margin: auto;
    position: relative;
}

.input_1 {
    width: 303px;
    height: 74px;
    border: 2px solid #FFA3A3;
    border-radius: 10px;
    padding-left: 20px;
  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #0F0000;
}

.input_2 {
    width: 303px;
    height: 74px;
    border: 2px solid #FFA3A3;
    border-radius: 10px;
    padding-left: 20px;
  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #0F0000;
}

.input_3 {
    width: 637px;
    height: 74px;
    border: 2px solid #FFA3A3;
    border-radius: 10px;
    padding-left: 20px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #0F0000;
}

.input_4 {
    width: 134px;
    height: 74px;
    color: #fff;
    background-color: #D64374;
    border-radius: 10px;
    position: absolute;
    top: 98px;
    right: 80px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.input_4:hover {
    background-color: #000;
    color: cyan;
}

.input_4:active {
    background-color: #000;
    color: blue;
}

.footer {
    width: 1600px;
    height: 381px;
    background-color: #000;
    margin: auto;
}

.cards {
    display: flex;
    /* justify-content: space-evenly; */
    position: relative;
}

.card_1 {
    width: 200px;
    height: 150px;
    margin-top: 100px;
    position: absolute;
    top: 10px;
    left: 250px;
}

.card_1_logo {
    width: 79px;
    height: 79px;
}

.card_1_text {
    width: 207px;
    height: 47px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    margin-top: 15px;
}

.card_1_icons_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    margin-top: 30px;
}

.card_1_icons {
    width: 90px;
    height: 15px;
    margin-top: 10px;
}

.card_2 {
    width: 80px;
    height: 100px;
    margin-top: 100px;
    position: absolute;
    top: 90px;
    left: 500px;
}

.card_2_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

.card_2_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    margin-top: 10px;
}

.card_3 {
    width: 110px;
    height: 110px;
    margin-top: 100px;
    position: absolute;
    top: 90px;
    left: 710px;
}

.card_3_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    margin-top: 10px;
}

.card_4 {
    width: 400px;
    height: 130px;
    position: absolute;
    top: 180px;
    left: 1000px;
}

.card_4_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.card_4_input {
    width: 388px;
    height: 55px;
    border: 3px solid #D64374;
    background-color: inherit;
    border-radius: 10px;
    margin-top: 15px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    padding-left: 20px;
}

.card_4_btn {
    width: 125px;
    height: 55px;
    background-color: #D23166;
    border-radius: 10px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    position: absolute;
    top: 37px;
    left: 286px;
}

.card_4_btn:hover {
    background-color: #000;
    color: cyan;
}

.card_4_btn:active {
    background-color: #000;
    color: blue;
}

.card_4_cards {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.card_4_cards_card_1 {
    width: 19px;
    height: 22px;
}

.card_4_cards_card_2 {
    width: 34px;
    height: 20px;
}

.card_4_cards_card_3 {
    width: 47px;
    height: 15px;
}